@import 'tailwindcss';
@import './theme.css';

body {
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

#app {
  min-height: 100vh;
}
